.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100hv;
    margin: 0 auto;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    justify-content: space-between;
    border-radius: 28px;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    margin-left: 100px;
}

.logon-container section.form form {
    margin-top: 10px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form form a {
    display:flex;
    align-items: center;
    margin-top: 40px;
    color:#333;
    font-size: 18px;
    text-decoration: none;
    font-weight: none;
    transition: opacity .2s;

}

.logon-container img {
    margin-right: 70px;

    min-width: 150px;
    max-width: 463px;
    min-height: 550px;
    max-height: 597px;
}

.logon-container section.form form a:hover {
    opacity: 0.8;
}





@media only screen and (max-device-width: 900px) {

.logon-container img {
    visibility: hidden;
    display: none;
}


.logon-container {
    height: auto;

}
.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

}
