:root{
    font-size: 60%;

    --color-background: #b3b9b9;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8d8c91;
    --color-primary-dark: #2b2d42;


    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

#root {
    display:flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color:var(--color-text-title)
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;

}

.container{
    width: 90vw;
    max-width: 700px;

}


#page-landing {
    width: 100vw;
    height: 100vh;

}



#page-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
    max-width: 1500px;

}


@media (min-width: 700px) {
    :root{
        font-size: 62.5%;
    }
}